.descricao {
  font-family: GothamBold !important;
  font-size: 4vmin;
  text-transform: uppercase;
  text-align: center;
  margin: 1vw;
  color: #3f1e66;
}

.numero {
  font-family: GothamBold !important;
  font-size: 6vmin;
  text-align: center;
  margin: 1vw;
  color: white;
}

.numero-container {
  background-color: #3f1e66;
  border-radius: 4vmin;
  display: inline-block;
  padding: 0 4vmin;
}

.innerDescricao {
  font-family: GothamBold !important;
  font-size: 4vmin;
  text-align: left;
  color: #505050;
}

ion-icon {
  font-size: 5vmin;
}

.button-md {
  height: 7vmin;
}
