
.mapa-container {
  position: absolute;
  left: 0;
  width: 100vw;
  height: auto;
  align-items: center;
  svg {
    transition: .3s ease-out;
  }
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 600px) {
  .my-svg {
    max-width: 600px;
    max-height: 600px;
  }
  .mapa-container {
    position: absolute;
    width: 100%;
    height: auto;
    justify-content: center;
  }
  .titulo-home {
    font-size: 8pc;
  }
  .brush {
    max-width: 540px;
  }
  .sobre {
    font-size: 2.4pc;
  }
}

.menu-estados {
  padding-top: 20px;
}

.item-estados {
  width: 100%;  
  padding-inline-start: 30px;
  padding-top: 0;
  p {
    margin: 0;
    line-height: 200%;
    transition: .2s ease-in;
    font-family: GothamBold !important;
    color: black;
  }
}

.fab {
  color: map-get($colors, primary);
  background-color: transparent;
}

.fabhidden {
  visibility: hidden;
}

.item-estados:hover {
  p {
    transition: .2s ease-out;
    margin-inline-start: 30px;
    font-family: GothamBold !important;
    color: #432a70;
  }
}

.estado-vermelho {
  fill: #a61f46;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0.3;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
  transition: 0.3s;
}

.estado-vermelho:hover {
  fill: #d9285b;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0.3;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.estado-azul {
  fill: #432a70;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0.3;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
  transition: 0.3s;
}

.estado-azul:hover {
  fill: #623da3;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0.3;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.estado-rosa {
  fill: #bf5ea4;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0.3;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
  transition: 0.3s;
}

.estado-rosa:hover {
  fill: #f277d0;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0.3;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.estado-branco {
  fill: #957fbb;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0.3;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
  transition: 0.3s;
}

.estado-branco:hover {
  fill: #bda1ed;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0.3;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}
