.fonte-cargos {
  font-family: GothamBold !important;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: center;
  color: map-get($colors, primary);
  padding-top: 5vh;
  padding-bottom: 5vh;
  transition: 0.2s;
}

.fonte-cargos:hover {
  font-family: GothamBold !important;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 5vmin;
  text-align: center;
  color: map-get($colors, primary);
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.label {
  padding: 0;
  margin: 0;
}
.item {
  background-color: #f5dffc;
}

.item-md,
.item-ios,
.item-wp {
  h1 {
    font-size: 4vmin;
  }
  padding: 0;
  margin: 0;
}

.item-md:hover,
.item-ios:hover,
.item-wp:hover {
  background-color: #c0aec6;
}

.list {
  width: 100%;
}