// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.masters {
  background-color: #c0aec6;
  padding-top: 9rem;
  display: grid;
  align-items: center;
  vertical-align: middle;
}

.toolbar-title {
  font-size: 2.5rem;
  margin-left: -32px;
  letter-spacing: -1px;
  font-family: GothamBold !important;
}

.bar-button {
  z-index: 3;
}

.platform-ios .toolbar-title {
  margin-left: 0;
  font-size: 1.4rem;
  letter-spacing: 0;
  font-family: GothamBold !important;
}

.titulo-nav {
  text-align: center;
  text-transform: uppercase;
  height: 6rem;
  color: map-get($colors, wine);
  font-family: GothamBold !important;
}

.subtitulo-nav {
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  height: 3rem;
  font-size: 1.5rem;
  color: white;
  font-family: GothamBold !important;
}

.platform-ios .subtitulo-nav {
  padding-left: 0;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  height: 2rem;
  font-size: 1rem;
  color: white;
  font-family: GothamBold !important;
}

.footer-img {
  width: 80px;
  height: auto;
}

@font-face {
  font-family: GothamBold;
  src: url('../assets/fonts/GothamBlack.otf');
} 

@font-face {
  font-family: GothamMedium;
  src: url('../assets/fonts/GothamMedium.ttf');
} 