.fonte-candidatas {
  font-family: GothamBold !important;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: start;
  color: map-get($colors, primary);
  padding-top: 5vh;
  padding-bottom: 5vh;
  transition: 0.2s;
}

.fonte-candidatas:hover {
  font-family: GothamBold !important;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 5vmin;
  text-align: start;
  color: map-get($colors, primary);
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.centerimg {
  img {
    float: left;
    float: right;
    height: 16vmin;
    width: 16vmin;
    border-radius: 50%;
    object-fit: cover;
  }
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.item-md,
.item-ios,
.item-wp {
  h1 {
    font-size: 4vmin;
  }
}

.item-md:hover,
.item-ios:hover,
.item-wp:hover {
  background-color: #c0aec6;
}

.list {
  width: 100%;
}